[Unit]
Description=MongoDB monitoring agent

[Service]
Type=forking
User=root

ExecStart={{dir}}/mongodb-mms-monitoring-agent-script
PIDFile={{dir}}/monitoring.pid

[Install]
WantedBy=multi-user.target
