{% for replica in replicaSets -%}
    {{ replica.name }}:{{ replica.replicateSetController.connectingNode.server.host.ip }}:{{ replica.replicateSetController.connectingNode.port }} {{ '
' }}
{%- endfor %}