{% for replica in replicaSets -%}
    {{ replica.name }}:{{ replica.replicaSetController.connectingNode.server.host.ip }}:{{ replica.replicaSetController.connectingNode.port }} {{ '
' }}
{%- endfor %}