port = {{ port }}
fork = true
configdb = {%for node in shardCluster.configServers -%}
                {{ node.server.host.ip }}:{{ node.port }} 
                    {%- if not loop.last -%} 
                        {{ ','}} 
                    {%- endif -%}
            {%- endfor %}
logpath = /var/log/mongodb/mongodb-access.log
pidfilepath = /var/run/mongodb/mongodb-accessserver.pid
