[Unit]
Description=MongoDB monitoring agent

[Service]
Type=forking
User=root

ExecStart={{directory}}/mongodb-mms-monitoring-agent-script
PIDFile={{directory}}/monitoring.pid

[Install]
WantedBy=multi-user.target
