[Unit]
Description=MongoDB access-server start

[Service]
Type=forking
User=root

ExecStart=/usr/bin/mongodb-accessserver

[Install]
WantedBy=multi-user.target
